body{
    background-image: url("../images/fresh_snow.png");
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    text-align: center;
    padding-top: 1rem;
    }
 #headerRow{
     background: black;
   }   
#titleImage{
    height: 9rem;
    float: right;
}
.headerCol{
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    padding: 2rem;
    float: left;
    background-color: black;
    color: silver;
    font-size: 4rem;
    font-family: 'Berkshire Swash', cursive;
    }
.card{
    color: black;
    width: 30%;
    height: 150px;
    margin: 0.5rem;
   }
.card-body{
    max-width: 100%;
    max-height: 30%;
    padding: 0rem;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    text-align: center;
}
#characters{
    margin-left: 0rem;
}
#johnSnow{
    width: 100%;
    height: auto;
}
#drogo{
    width: 100%;
    height: auto;
        }
#clegane{
    width: 100%;
    height: auto;
}
#jaime{
    width: 100%;
    height: auto;
    }
#headerSpace{
    height: 3rem;
}
#spacingRow{
    height: 10rem;
    display: block;
}
.enemyCard{
    background-color:yellow;
    border-color:yellow;
    border-style: solid;
    border-width: 5px;
    margin-top: 1rem;
}
.defenderCard{
    background-color:yellow;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    margin-top: 1rem;
}
.defeatedCard{
    background-color: red;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    margin-top: 1rem;
    }
.protagonistCard{
    border-color:green;
    border-style: solid;
    border-width: 5px;
    margin-top: 1rem;
}
#attackButton{
    margin: 1.5rem;
    background-color: springgreen;
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
    width: 9rem;
    }

#restartBtn{
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 9rem;
    display: none;
}
.col-6{
    padding-left: 0px;
    padding-right: 3rem;
}
@media screen and (max-width:980px){
    #titleImage{height: 7rem;}
    h1{font-size: 2rem;}
    h2{font-size: 1rem;}
    p{font-size: 0.8rem;}
}
@media screen and (max-width:1145px){
    h1{font-size: 3rem;}
    }