body{
    background-image: url("../images/game-of-thrones.jpg");
    color: aliceblue;
}
header{
    height: 7rem;
    text-align: center;
    padding-top: 1rem;
}
.card{
    color: black;
    max-width: 25%;
    /* max-height: 30%; */
    height: 150px;
    margin: 0.5rem;
   }
.card-body{
    max-width: 100%;
    max-height: 30%;
    padding: 0rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}
#characters{
    height: 30rem;
}
#johnSnow{
    width: 100%;
    height: auto;
}
#drogo{
    width: 50%;
    height: 50%;
    margin-left: 2rem;
}
#clegane{
    width: 50%;
    height: 50%;
    margin-left: 2rem;
}
#jaimie{
    width: 50%;
    height: 50%;
    margin-left: 2rem;
}
#spacingRow{
    height: 10rem;
    display: block;
}
.enemyCard{
    background-color:yellow;
}
.defenderCard{
    background-color:yellow;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    margin-top: 1rem;
}
.defeatedCard{
    background-color: red;
    }
#attackButton{
    margin: 1.5rem;
    background-color: springgreen;
    padding: 0.5rem;
    color: black;
    font-size: 1.5rem;
    width: 9rem;
    }

#restartBtn{
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 9rem;
    display: none;
}
